body{
    font-family: serif;
}

li{
    list-style: none;
}

.header{
    background-color: aqua;
    height: 90px;
}

.header-lodo{
    float: left;
    margin-top: 10px;
}

.header-list{
    float: right;
}

.header-list li{
    float: left;
    margin: 10px 7px;
}

.main{
    background-color: aquamarine;
    height: 600px;
}

.footer{
    background-color: coral;
    height: 600px;
}